@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<br />
<h4>ShopLife is not just any online store where you can buy stuff, <br />it's a place where you can Shop for stuff for Life.</h4>

<br />
<p>ShopLife is an online store that sells a variety of products including sports goods and clothing.</p>

<p>ShopLife started from humble beginnings in a garage, and now operates in the cloud.</p>
